In [ ]:
ls

sample_data/

In [ ]:
from google.colab import drive
drive.mount('aiml')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at aiml

In [ ]:
ls

aiml/  sample_data/

In [ ]:
pwd

'/content'

In [ ]:
cd/content/aiml/My Drive/Colab Notebooks

/content/aiml/My Drive/Colab Notebooks

#1D array from series to list

In [ ]:
import pandas as pd
ds = pd.Series([2, 4, 6, 8, 10])
print('series type', ds)
print(ds.to_list())
print('to list')

series type 0     2
1     4
2     6
3     8
4    10
dtype: int64
[2, 4, 6, 8, 10]
to list

#Change the data type of a given column or series

In [ ]:
import pandas as pd
s1 = pd.Series([200, 100, 'python', 43.12, 300])
print('original data type\n', s1)
s2 = pd.to_numeric(s1, errors = 'coerce')
print('changed data type to numeric\n', s2)

original data type
 0       200
1       100
2    python
3     43.12
4       300
dtype: object
changed data type to numeric
 0    200.00
1    100.00
2       NaN
3     43.12
4    300.00
dtype: float64

#To convert series of lists to one series

In [ ]:
import pandas as pd
s = pd.Series([['red', 'yellow', 'green'], ['blue'], ['pink']])
print('original series of list\n', s)
s = s.apply(pd.Series).stack().reset_index(drop = True)
print('converted list\n', s)

original series of list
 0    [red, yellow, green]
1                  [blue]
2                  [pink]
dtype: object
converted list
 0       red
1    yellow
2     green
3      blue
4      pink
dtype: object

#mean and standard deviation of data series

In [ ]:
import pandas as pd
s = pd.Series([1,2,3,3,4,5,6,7,8,9,5,3])
print('original dataset\n', s)
print('mean of the data set:')
print(s.mean())
print("standard deviation")
print(s.std())

original dataset
 0     1
1     2
2     3
3     3
4     4
5     5
6     6
7     7
8     8
9     9
10    5
11    3
dtype: int64
mean of the data set:
4.666666666666667
standard deviation
2.4618298195866544

#Given series not present in the anoter given series

In [ ]:
import pandas as pd
sr1 = pd.Series([1, 2, 3, 4])
sr2 = pd.Series([1, 2, 6, 7])
print('original series\n', sr1,  sr2)
print('new series')
result = sr1[~sr1.isin(sr2)]
print(result)

original series
 0    1
1    2
2    3
3    4
dtype: int64 0    1
1    2
2    6
3    7
dtype: int64
new series
2    3
3    4
dtype: int64

#To create data sample

In [ ]:
import pandas as pd
import numpy as np
exam_data = {'name':['rahul', 'vijay', 'naga', 'kiran', 'ravi'], 'score':[12.5, 9, 16.5, np.nan, 9], 'attempts': [1, 3, 2, 3, 2], 'qualify': ['yes', 'no', 'yes', 'no', 'no']}
labels = ['a', 'b', 'c', 'd', 'e']
df = pd.DataFrame(exam_data , index = labels)
print(df)

    name  score  attempts qualify
a  rahul   12.5         1     yes
b  vijay    9.0         3      no
c   naga   16.5         2     yes
d  kiran    NaN         3      no
e   ravi    9.0         2      no

#Specified columns and rows of given data

In [ ]:
print(df.iloc[[1, 2, 4], [0, 1]])

    name  score
b  vijay    9.0
c   naga   16.5
e   ravi    9.0

#To select score between 11 and 17

In [ ]:
print(df[df['score'].between(11, 17)])

    name  score  attempts qualify
a  rahul   12.5         1     yes
c   naga   16.5         2     yes

#To sort DF name in descending order and then by score in ascending order

In [ ]:
result_sort = df.sort_values(by = ['name', 'score'], ascending=[False, True])
print(result_sort)

    name  score  attempts qualify
b  vijay    9.0         3      no
e   ravi    9.0         2      no
a  rahul   12.5         1     yes
c   naga   16.5         2     yes
d  kiran    NaN         3      no